.rbt-tree-root {

}

.rbt-tree-child-list {

}

.rbt-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    text-align: left;
}

.rbt-tree-item-li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rbt-tree-item-li-selected {
    background-color: aliceblue;
}