.rbt-tree-root {
    font-family: sans-serif;
}

.rbt-tree-root-focus {
    outline: 3px solid rgb(118, 221, 246);
}

.rbt-tree-child-list {
}

.rbt-tree-item-button:before {
    width: 20px;
    display: inline-block;
    text-align: left;
    padding-bottom: 4px;
    content: '';
}
.rbt-tree-item-button.rbt-tree-item-button-hasChildren:before {
    content: '🞂';
}
.rbt-tree-item-button-expanded.rbt-tree-item-button-hasChildren:before {
    content: '🞃';
}

.rbt-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    height: 25px;
    text-align: left;
    color: inherit;
    border-bottom: 1px solid black;
}

.rbt-tree-item-li {
    font-size: .8rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rbt-tree-root:not(.rbt-tree-root-focus) .rbt-tree-item-button-selected {
    background-color: rgb(161, 161, 161);
    color: #fff;
}
.rbt-tree-root.rbt-tree-root-focus .rbt-tree-item-button-selected {
    background-color: rgb(12, 181, 252);
    color: #fff;
}
.rbt-tree-root.rbt-tree-root-focus .rbt-tree-item-button-focused {
    box-shadow: inset 0 0 0 2px rgb(43, 191, 255);
}
.rbt-tree-root:not(.rbt-tree-root-focus) .rbt-tree-item-button-focused {
    box-shadow: inset 0 0 0 2px rgb(219, 219, 219);
}

.rbt-tree-item-button-dragging-over {
    background-color: rgb(142, 222, 255);
}

.rbt-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: rgb(142, 222, 255);
}

.rbt-tree-drag-between-line-top {
    top: 0px;
}

.rbt-tree-drag-between-line-bottom {
    top: -4px
}

.rbt-tree-search-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}