.rbt-tree-root {
    font-family: sans-serif;
}

.rbt-tree-root-focus {
    outline: 3px solid rgb(118, 221, 246);
}

.rbt-tree-child-list {
}

.rbt-tree-item-button:before {
    width: 20px;
    display: inline-block;
    text-align: left;
    padding-bottom: 4px;
    content: '';
}
.rbt-tree-item-button.rbt-tree-item-button-hasChildren:before {
    content: '🞂';
}
.rbt-tree-item-button-expanded.rbt-tree-item-button-hasChildren:before {
    content: '🞃';
}

.rbt-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    height: 100%;
    text-align: left;
    color: inherit;
}

.rbt-tree-item-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: .8em;
    border-bottom: 1px solid black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rbt-tree-item-li-selected {
    background-color: rgb(12, 181, 252);
    color: #fff;
}

.rbt-tree-item-li-dragging-over {
    background-color: rgb(142, 222, 255);
}

.rbt-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: rgb(142, 222, 255);
}

.rbt-tree-drag-between-line-top {
    top: 0px;
}

.rbt-tree-drag-between-line-bottom {
    top: -4px
}