:root {
    --rct-color-tree-bg: #ECEFF4;
    --rct-color-tree-focus-outline: #88C0D0;

    --rct-color-focustree-item-selected-bg: #4C566A;
    --rct-color-focustree-item-selected-text: #ffffff;
    --rct-color-focustree-item-focused-border: #88C0D0;
    --rct-color-focustree-item-draggingover-bg: #81A1C1;
    --rct-color-focustree-item-draggingover-color: #ffffff;

    --rct-color-nonfocustree-item-selected-bg: #D8DEE9;
    --rct-color-nonfocustree-item-selected-text: inherit;
    --rct-color-nonfocustree-item-focused-border: #D8DEE9;

    --rct-color-search-highlight-bg: #A3BE8C;
    --rct-color-drag-between-line-bg: #81A1C1;

    --rct-item-height: 22px;
}

.rct-tree-root {
    font-family: sans-serif;
    background-color: var(--rct-color-tree-bg);
}

.rct-tree-root-focus {
    outline: 1px solid var(--rct-color-tree-focus-outline);
}

.rct-tree-child-list {
}

.rct-tree-item-button:before {
    width: 20px;
    display: inline-block;
    text-align: left;
    padding-bottom: 4px;
    content: '';
}
.rct-tree-item-button.rct-tree-item-button-hasChildren:before {
    content: '🞂';
}
.rct-tree-item-button-expanded.rct-tree-item-button-hasChildren:before {
    content: '🞃';
}

.rct-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    height: var(--rct-item-height);
    text-align: left;
    color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.rct-tree-item-li {
    font-size: .8rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rct-tree-root:not(.rct-tree-root-focus) .rct-tree-item-button-selected {
    background-color: var(--rct-color-nonfocustree-item-selected-bg);
    color: var(--rct-color-nonfocustree-item-selected-text);
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-button-selected {
    background-color: var(--rct-color-focustree-item-selected-bg);
    color: var(--rct-color-focustree-item-selected-text);
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-button-focused {
    outline: none;
    border-color: var(--rct-color-focustree-item-focused-border);
}
.rct-tree-root:not(.rct-tree-root-focus) .rct-tree-item-button-focused {
    outline: none;
    border-color: var(--rct-color-nonfocustree-item-focused-border);
}

.rct-tree-item-button-dragging-over {
    background-color: var(--rct-color-focustree-item-draggingover-bg);
    color: var(--rct-color-focustree-item-draggingover-color);
}

.rct-tree-item-button-search-match {
    font-style: italic;
}

.rct-tree-item-search-highlight {
    background-color: var(--rct-color-search-highlight-bg);
}

.rct-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: var(--rct-color-drag-between-line-bg);
}

.rct-tree-drag-between-line-top {
    top: 0px;
}

.rct-tree-drag-between-line-bottom {
    top: -4px
}

.rct-tree-search-input {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
}