.rct-tree-root {
    font-family: sans-serif;
    overflow-y: auto;
}

.rct-tree-root-focus {
    outline: 3px solid rgb(118, 221, 246);
}

.rct-tree-child-list {
}

.rct-tree-item-button:before {
    width: 20px;
    display: inline-block;
    text-align: left;
    padding-bottom: 4px;
    content: '';
}
.rct-tree-item-button.rct-tree-item-button-hasChildren:before {
    content: '🞂';
}
.rct-tree-item-button-expanded.rct-tree-item-button-hasChildren:before {
    content: '🞃';
}

.rct-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    height: 22px;
    text-align: left;
    color: inherit;
    /*border-bottom: 1px solid black;*/
}

.rct-tree-item-li {
    font-size: .8rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rct-tree-root:not(.rct-tree-root-focus) .rct-tree-item-button-selected {
    background-color: rgb(161, 161, 161);
    color: #fff;
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-button-selected {
    background-color: rgb(12, 181, 252);
    color: #fff;
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-button-focused {
    box-shadow: inset 0 0 0 2px rgb(43, 191, 255);
}
.rct-tree-root:not(.rct-tree-root-focus) .rct-tree-item-button-focused {
    box-shadow: inset 0 0 0 2px rgb(219, 219, 219);
}

.rct-tree-item-button-dragging-over {
    background-color: rgb(142, 222, 255);
}

.rct-tree-item-button-search-match {
    font-style: italic;
}

.rct-tree-item-search-highlight {
    background-color: rgb(43, 255, 156);
}

.rct-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: rgb(142, 222, 255);
}

.rct-tree-drag-between-line-top {
    top: 0px;
}

.rct-tree-drag-between-line-bottom {
    top: -4px
}

.rct-tree-search-input {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
}